<h1>Sharing with you!</h1>
<p><b>My Words Have Reach!</b> Women use top social media including Facebook, Tumblr and Pinterest more than men. Women
    are more likely to interact with brands on social media. Women lead the trend towards use of social media. Women
    speak 7,000 words a day while men speak an average of 2,000 words. I make 85% of all consumer purchases and 92% of
    all travel and leisure purchases. That’s <b>$5 trillion dollars a year!</b> I have a passion for travel, curiosity
    about culture and I am an important consumer! <b>My input Matters!</b> I want to share my travel experiences with
    <b>Traveling Women Talk!</b>
    <br><br>
    My husband and I have traveled many places in the world such as <b>New Zealand, Mexico, Australia, Tahiti, Puerto
        Rico, Fiji, St. Lucia, Tonga, Bahamas, SuvaSuva, Moracco, Antigua, Greece, Jamaica, Italy, Switzerland, and
        France</b>. I have always felt blessed to be able to <b>learn about other cultures</b> in our world and meet
    courageous fellow travelers. As our family grows, we find ourselves anchored in more family-oriented and admittedly
    less exotic trips. We have just returned from a 2,000 mile-school vacation road trip to Florida. When you are on the
    road with 4 children, eating a good meal, fast, in a place that can accommodate short attention spans, has a fun
    environment and includes quality food is a challenge.
    <br><br>
    One of the best places we ate was <b>Mellow Mushroom Pizza Bakers in Savannah, GA (established in 1974 in Atlanta,
        GA)</b>. The pizza makers throw the dough in an open viewing area, which kept the kids captivated. The salads
    werefresh, the pizza crust was crisp, sprinkled with freshly grated cheese and the toppings were interesting. The
    wait staff were nothing short of mind readers, bringing more napkins before the multiple sweet tea spills occurred
    and whisking used plates out of our way, so the table remained uncluttered. This experience can not hold a candle to
    visiting the remote island of Tonga, where the people of this kingdom greet you by stroking your cheeks and
    communicating with their eyes. But as a consumer, Mellow Mushroom provided a great meal with a great environment for
    our famished family. My oldest daughter, 7, has traveled to Italy and Puerto Rico but I look forward to the day when
    the “babies” are big enough to adventure out further into the world with us and share in our <b>love of travel</b>.
    <br><br>
    The common denominator across all our travels, whether near or far, is the people we meet, who remind us that we are
    one world. <b>I am excited to read your input on the places you’ve been and the experiences you’ve had. Sharing your
        feedback will help traveling women around the world make smart, safe and informed choices about which road to
        travel next.</b></p>