<h1>Reviews</h1>
<div *ngFor="let review of reviews">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{review.location}}</mat-card-title>
      <mat-card-subtitle>{{review.userId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content (click)='navigateDetails(review)'>
      <div>
        <label>Travel date: </label> {{review.travelDate.toDate() | date: 'dd/MM/yyyy'}}
      </div>
      <div>
        <label>description: </label> {{review.description}}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SHARE</button>
      <button mat-button (click)='editReview(review)'>Edit</button>
      <button mat-button (click)='deleteReview(review)'>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>