<h2>Reviews</h2>
<hr>
<div *ngFor="let review of reviews | async">
  <h4 (click)='navigateDetails(review)'>{{review.location}}</h4>
  <span (click)='navigateDetails(review)' class="font-italic">
    {{review.userId}} on {{review.travelDate.toDate() | date: 'MMM dd'}}
    <span *ngIf="review.lastEdited" class="font-weight-light font-italic text-muted">
      &nbsp;edited {{review.lastEdited.toDate() | timeAgo}}</span>
  </span>

  <p (click)='navigateDetails(review)'>{{review.description}}</p>

  <i (click)='shareReview(review)' class="fas fa-share-alt text-muted"></i>&nbsp;&nbsp;
  <i (click)='editReview(review)' *ngIf='(auth.user$ | async)?.uid === review.userId' class="fas fa-pencil-alt text-muted"></i>&nbsp;&nbsp;
  <i (click)='deleteReview(review)' *ngIf='(auth.user$ | async)?.uid === review.userId' class='fas fa-trash text-mute'></i>&nbsp;&nbsp;
  <hr>
</div>