<div *ngIf="user" class="jumbotron">
  <img *ngIf="user?.photoURL" [src]="user?.photoURL" alt="profile picture"
    class="img-fluid img-thumbnail rounded float-right" width="20%">
  <h1>
    {{ user?.displayName }} {{review?.user?.gender }}
    <span *ngIf="user?.gender === 'male'">
      <i class="fas fa-lg fa-mars" style="color:blue;"></i>
    </span>
    <span *ngIf="user?.gender === 'female'">
      <i class="fas fa-lg fa-venus" style="color:pink;"></i>
    </span>
    <span *ngIf="!user?.gender || user?.gender === 'other'">
      <i class="fas fa-lg fa-genderless" style="color:yellow;"></i>
    </span>
  </h1>
  <p><i class="fas fa-calendar-day"></i> Joined {{ user.createdDate?.toDate() | dateFormat }}</p>
  <button *ngIf="(authService.user$ | async)?.uid === user?.uid" (click)="editUser(editUserModal)"
    class="btn btn-success">Edit profile</button>
</div>

<div *ngIf="user && (authService.user$ | async)?.uid === user.uid && reviews?.length === 0" class="card">
  <div class="card-body">
    No reviews found here.
  </div>
</div>

<div *ngFor="let review of reviews | async">
  <div class="card">
    <div class="card-body" (click)="navigateDetails(review)">
      <h5 class="card-title">{{review.location}}</h5>
      <p class="card-text">
        <span class="text-muted">
          <small><a [routerLink]="['/profile', review.user.uid]">{{review.user.displayName}}</a>&nbsp;&nbsp;</small>
          <span *ngIf="review?.user?.gender === 'male'">
            <i class="fas fa-lg fa-mars" style="color:blue;"></i>
          </span>
          <span *ngIf="review?.user?.gender === 'female'">
            <i class="fas fa-lg fa-venus" style="color:pink;"></i>
          </span>
          <span *ngIf="!review?.user?.gender || user?.gender === 'other'">
            <i class="fas fa-lg fa-genderless" style="color:yellow;"></i>
          </span>
          <br>
          <small>
            {{ review.travelDate.toDate() | dateFormat }}
            <span *ngIf="review.lastEdited" class="font-weight-light font-italic text-muted">
              &nbsp;edited {{review.lastEdited.toDate() | timeAgo}}
            </span>
          </small>
        </span>
      </p>
      <p class="card-text">
        <app-read-more [text]="review.description" [maxLength]="100"></app-read-more>
      </p>
    </div>
    <div class="card-body">
      <i (click)='shareReview(review)' class="fas fa-lg fa-share-alt text-muted"></i>&nbsp;&nbsp;
      <i (click)='editReview(review)' *ngIf='(authService.user$ | async)?.uid === review.user.uid'
        class="fas fa-lg fa-pencil-alt text-muted"></i>&nbsp;&nbsp;
      <i (click)='confirmDelete(deleteModal, review)' *ngIf='(authService.user$ | async)?.uid === review.user.uid'
        class='fas fa-lg fa-trash text-mute'></i>
    </div>
  </div>
</div>

<ng-template #editUserModal let-modal>
  <div class="modal-body">

    <form [formGroup]="userForm">
      <div class="form-group">
        <label for="Email">Email*</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
          formControlName="email" readonly>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="displayName">Display name*</label>
        <input type="text" class="form-control"
          [ngClass]="{'is-invalid': displayNameControl?.invalid, 'is-valid': !displayNameControl?.invalid}"
          aria-describedby="displayNameHelp" placeholder="John Doe" formControlName="displayName" required>
        <small *ngIf="displayNameControl?.errors?.minlength" id="displayNameHelp" class="form-text text-muted">
          Display name is required.
        </small>
      </div>

      <div class="form-group">
        <label for="gender">Gender*</label>
        <select class="custom-select" id="gender" formControlName="gender"
          [ngClass]="{'is-invalid': genderControl?.invalid, 'is-valid': !genderControl?.invalid}" required>
          <option value="female">Female</option>
          <option value="male">Male</option>
          <option value="other">Other</option>
        </select>
      </div>

      <hr>
      <small class="form-text text-muted">
        We'll never share the below information with anyone else.
        We use this to personalize your experience on Traveling Women Talk.
      </small>

      <div class="form-group">
        <label for="age">Year of birth*</label>
        <select class="custom-select" id="age" formControlName="age"
          [ngClass]="{'is-invalid': ageControl?.invalid, 'is-valid': !ageControl?.invalid}" required>
          <option value="2010">2010s</option>
          <option value="2000">2000s</option>
          <option value="1990">1990s</option>
          <option value="1980">1980s</option>
          <option value="1970">1970s</option>
          <option value="1960">1960s</option>
          <option value="1950">1950s</option>
          <option value="1940">1940s</option>
          <option value="1930">1930s</option>
          <option value="1920">1920s</option>
          <option value="1910">1910s</option>
        </select>
      </div>

      <div class="form-group">
        <label for="status">Status*</label>
        <select class="custom-select" id="status" formControlName="status"
          [ngClass]="{'is-invalid': statusControl?.invalid, 'is-valid': !statusControl?.invalid}" required>
          <option value="single">Single</option>
          <option value="married">Married</option>
          <option value="widowed">Widowed</option>
        </select>
      </div>

      <div class="form-group">
        <label for="accomplice">Travel accomplice (pick best answer)*</label>
        <select class="custom-select" id="accomplice" formControlName="accomplice"
          [ngClass]="{'is-invalid': accompliceControl?.invalid, 'is-valid': !accompliceControl?.invalid}" required>
          <option value="single">Single</option>
          <option value="groups">Groups</option>
          <option value="family">Family</option>
          <option value="grandchildren">Grandchildren</option>
        </select>
      </div>

      <div class="form-group">
        <label for="interest">Travel interest (pick best answer)*</label>
        <select class="custom-select" id="interest" formControlName="interest"
          [ngClass]="{'is-invalid': interestControl?.invalid, 'is-valid': !interestControl?.invalid}" required>
          <option value="ocean cruising">Ocean cruising</option>
          <option value="river cruising">River cruising</option>
          <option value="sailing">Sailing</option>
          <option value="canoeing">Canoeing</option>
          <option value="hiking">Hiking</option>
          <option value="backpacking">Backpacking</option>
          <option value="biking">Biking</option>
          <option value="land travel">Land travel</option>
          <option value="bus tours">Bus tours</option>
        </select>
      </div>

      <div class="form-group">
        <label for="destination">Travel destination (pick best answer)*</label>
        <select class="custom-select" id="destination" formControlName="destination"
          [ngClass]="{'is-invalid': destinationControl?.invalid, 'is-valid': !destinationControl?.invalid}" required>
          <option value="europe">Europe</option>
          <option value="asia">Asia</option>
          <option value="caribbean">Caribbean</option>
          <option value="africa">Africa</option>
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="us">US</option>
          <option value="south america">South America</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('save')">Save</button>
    <button type="button" class="btn btn-link" (click)="modal.close('cancel')">Cancel</button>
  </div>
</ng-template>