<div class="card col-md-6">
  <div class="card-body">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="Email">Email*</label>
        <input type="email" class="form-control" aria-describedby="emailHelp"
        [ngClass]="{'is-invalid': emailControl?.invalid, 'is-valid': !emailControl?.invalid }"
        placeholder="Enter email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="Password">Password*</label>
        <input type="password" class="form-control"
        [ngClass]="{'is-invalid': passwordControl?.invalid, 'is-valid': !passwordControl?.invalid}"
        placeholder="Password" formControlName="password" required>
      </div>
      <button type="button" class="btn btn-primary" [disabled]="passwordControl?.errors" (click)="login()">
        <i class="fas fa-envelope-open"></i>&nbsp;&nbsp; Log in with your email
      </button>
    </form>
  </div>
</div>

<div class="card col-md-6">
  <div class="card-body">
    <button class="btn btn-primary" (click)="authService.googleSignin()">
      <i class="fab fa-google"></i>&nbsp;&nbsp; Log in with Google
    </button>
    <br><br>
    <button class="btn btn-primary" (click)="authService.facebookSignin()">
      <i class="fab fa-facebook-f"></i>&nbsp;&nbsp; Log in with Facebook
    </button>
  </div>
</div>
<br>
<div>New to Traveling Women Talk? <a routerLink="/signup">Sign up now <i class="fa fa-sm fa-angle-double-right"
      aria-hidden="true"></i></a></div>