<h3>Create Review</h3>
<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<ng-template #guest>
  <div><a routerLink="/login">Log in to write a review <i class="fa fa-sm fa-angle-double-right"
        aria-hidden="true"></i></a></div>
</ng-template>

<ng-template #authenticated>
  
<form [formGroup]="reviewForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="travelDateInput">Travel date</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="datepicker" formControlName="travelDate" id="travelDateInput"
            ngbDatepicker #d="ngbDatepicker" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                class="fas fa-calendar-day"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="locationInput">What are you reviewing?</label>
      <input type="text" class="form-control" id="locationInput"
        placeholder="Big Billy's Burger Joint, North Charleston, SC" formControlName="location" required>
    </div>
    <div class="form-group">
      <label for="ratingInput">Rating</label>
      <input type="number" class="form-control" id="ratingInput" placeholder="Rating out of 5" formControlName="rating"
        required>
    </div>
    <div class="form-group">
      <label for="descriptionInput">Share your experiences at this place</label>
      <textarea class="form-control" id="descriptionInput" rows="3" formControlName="description" required></textarea>
    </div>
    <button class="btn btn-primary" (click)="save()">Submit</button>
    <button class="btn btn-link" (click)="cancel()">Cancel</button>
  </form>

</ng-template>